/* Main backgrounds */
.root, BorderPane {
    -fx-base: #fafafa; /* Page bg */
    -fx-background-color: #fafafa; /* Page bg */
    -fx-font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    -fx-font-size: 13px;
    -fx-text-fill: black;
}

/* Transparent containers */
FlowPane, StackPane, AnchorPane {
    -fx-background-color: transparent;
}

/* TableView styling */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #e4e5f1 !important;
    -fx-border-width: 5px;
    -fx-border-style: solid;
}

.table-view .column-header, .table-view .filter {
    -fx-pref-height: 28px;
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.table-view .placeholder {
    -fx-background-color: #e4e5f1;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #e4e5f1;
}

.table-view .table-row-cell:even {
    -fx-background-color: #d2d3db;
}

.table-view .column-header-background {
    -fx-background-color: #1e1f22;
}

/* Column headers text */
.table-view .column-header, .table-view .column-header .label {
    -fx-text-fill: #e4e5f1;
}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.table-view .column-header:hover .label {
    -fx-text-fill: #484b6a !important;
}

.table-view .placeholder .label {
    -fx-text-fill: #484b6a;
    -fx-font-style: italic;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #484b6a;
    -fx-text-fill: #fafafa;
}

.table-view .table-row-cell:selected .table-cell {
    -fx-background-color: #484b6a;
    -fx-text-fill: #fafafa;
}

/* Table rows and cells */
.table-row-cell {
    -fx-padding: 5 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 1 0; /* bottom border */
    -fx-text-fill: black;
}

/* Selected row should have a brighter dark bg and readable color*/
.table-row-cell:selected {
    -fx-background-color: #484b6a;
    -fx-text-fill: #fafafa;
}

.table-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell.insufficient-architecture-row {
    -fx-background-color: #bb5753;
}

.table-view .table-row-cell:odd.insufficient-architecture-row {
    -fx-background-color: #bb5753;
}

.table-view .table-row-cell:even.insufficient-architecture-row {
    -fx-background-color: #bb5753;
}

#variableTable .table-cell, #executionArgumentInput .table-cell, #StatisticsTable .table-cell, #runAllVariablesTable .table-cell  {
    -fx-alignment: CENTER;
    -fx-font-size: 13px;
}

#variableTable .table-row-cell:selected .table-cell {
    -fx-background-color: transparent !important;
    -fx-text-fill: #bb5753;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#variableTable .table-row-cell:odd:selected {
    -fx-background-color: #e4e5f1;
}

#variableTable .table-row-cell:even:selected {
    -fx-background-color: #d2d3db;
}

#usersTable .table-cell {
    -fx-alignment: CENTER;
}

#programsTable .table-cell {
    -fx-alignment: CENTER;
}

#functionsTable .table-cell {
    -fx-alignment: CENTER;
}

.table-cell:selected {
    -fx-background-color: #484b6a;
    -fx-text-fill: #fafafa;
    -fx-alignment: CENTER_LEFT;
}

/* Buttons: green text */
.button {
    -fx-background-color: #484b6a;
    -fx-text-fill: #fafafa; /* white text for primary icons */
    -fx-font-size: 11px;
    -fx-font-weight: 600;
    -fx-padding: 6 12;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.button:hover {
    -fx-background-color: transparent;
    -fx-border-color: #484b6a;
    -fx-border-width: 1;
    -fx-text-fill: #484b6a;
    -fx-border-radius: 6;
}
.button:pressed {
    -fx-background-color: #fafafa;
}

.button:disabled {
    -fx-background-color: #7b7e84;
    -fx-text-fill: #bcbec3;
    -fx-opacity: 0.9;
}

/* Style OK button on the error alert dialog */
.ok-button-error {
    -fx-text-fill: white;
    -fx-background-color: #bb5753;
    -fx-border-width: 1px;
    -fx-border-radius: 6;
    -fx-border-color: transparent;
    -fx-background-radius: 6;
}

.ok-button-error:hover {
    -fx-text-fill: white;
    -fx-background-color: #c97b78;
    -fx-border-width: 1px;
    -fx-border-radius: 6;
    -fx-border-color: transparent;
    -fx-background-radius: 6;
}

/* Style OK button on the success alert dialog */
.ok-button-success {
    -fx-text-fill: #fafafa;
    -fx-background-color: #72aa6c;
    -fx-border-width: 1px;
    -fx-border-radius: 6;
    -fx-border-color: transparent;
    -fx-background-radius: 6;
}

.ok-button-success:hover {
    -fx-text-fill: #72aa6c;
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 6;
    -fx-border-color: #72aa6c;
    -fx-background-radius: 6;
}

#loadFileBtn {
    -fx-background-color: #72aa6c;
    -fx-text-fill: white;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 6 12;
}

#loadFileBtn:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #72aa6c;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-border-width: 1px;
    -fx-border-color: #72aa6c;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 6 12;
}

/* Stop button */
#StopDebugBtn, .stop-button {
    -fx-background-color: #bb5753;
    -fx-text-fill: white;
    -fx-font-size: 11px;
    -fx-font-weight: 700;
    -fx-padding: 6 12;
    -fx-border-color: transparent;
    -fx-border-radius: 6;
}

#StopDebugBtn:disabled, .stop-button:disabled {
    -fx-background-color: #a36d6c;
    -fx-text-fill: #bcbec3;
    -fx-font-size: 11px;
    -fx-font-weight: 700;
    -fx-padding: 6 12;
    -fx-border-width: 0;
    -fx-border-radius: 6;
}

#stop_icon{
    -fx-text-fill: transparent;
    -fx-stroke: white;
}

#run_icon {
    -fx-stroke: #fafafa;
}

#RunProgramBtn:hover #run_icon {
    -fx-stroke: #484b6a;
}

#run_icon:disabled {
    -fx-stroke: #bcbec3;
}

#resume_icon, #stepover_icon {
    -fx-text-fill: transparent;
    -fx-fill: #fafafa;
    -fx-stroke: transparent;
}

#ResumeDebugBtn:hover #resume_icon, #StepOverDebugBtn:hover #stepover_icon {
    -fx-text-fill: transparent;
    -fx-fill: #484b6a;
    -fx-stroke: transparent;
}

#debug_icon:disabled, #resume_icon:disabled, #stepover_icon:disabled {
    -fx-text-fill: transparent;
    -fx-fill: #bcbec3;
    -fx-stroke: transparent;
}

#ResumeDebugBtn, #StepOverDebugBtn, #SetUpRunBtn {
    -fx-background-color: #484b6a !important;
    -fx-text-fill: #fafafa !important;
    -fx-border-color: transparent !important;
    -fx-background-radius: 6;
}

#RunProgramBtn {
    -fx-background-color: #72aa6c !important;
    -fx-text-fill: #fafafa !important;
    -fx-border-color: transparent !important;
    -fx-background-radius: 6;
}

#RunProgramBtn:hover, #ResumeDebugBtn:hover, #StepOverDebugBtn:hover, #SetUpRunBtn:hover {
    -fx-background-color: transparent !important;
    -fx-text-fill: #484b6a !important;
    -fx-border-color: #484b6a !important;
    -fx-background-radius: 6;
}

#RunProgramBtn:disabled, #ResumeDebugBtn:disabled, #StepOverDebugBtn:disabled, #SetUpRunBtn:disabled {
    -fx-background-color: #7b7e84 !important;
    -fx-text-fill: #bcbec3 !important;
    -fx-border-color: #bcbec3 !important;
    -fx-background-radius: 6;
}

#closeBtn {
    -fx-background-color: #e53935;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 8 24 8 24;
    -fx-cursor: hand;
}

#closeBtn:hover {
    -fx-background-color: #b71c1c;
}

#clearBreakpointsBtn {
    -fx-background-color: #bb5753;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 8 16 8 16;
    -fx-cursor: hand;
    -fx-border-color: transparent;
}

#clearBreakpointsBtn:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #bb5753;
    -fx-background-radius: 8;
    -fx-padding: 8 16 8 16;
    -fx-cursor: hand;
    -fx-border-color: #bb5753;
}

#clear_breakpoints_icon {
    -fx-stroke: white;
}

#clearBreakpointsBtn:hover #clear_breakpoints_icon {
    -fx-stroke: #bb5753;
}

#backToDashboardBtn {
    -fx-background-color: #484b6a;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 6 12;
}

#backToDashboardBtn:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #484b6a;
    -fx-border-color: #484b6a;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 6 12;
}

/* Menu buttons styling */
.menu-button {
    -fx-border-color: #484b6a;
    -fx-border-radius: 6;
}

.menu-button, .menu-button > .label {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-padding: 5 5;
    -fx-font-weight: 600;
    -fx-alignment: CENTER;
}

.menu-item {
    -fx-background-color: #fafafa;
    -fx-text-fill: #484b6a;
    -fx-alignment: CENTER;
}

/* Color the arrow of the menu button */
.menu-button .arrow {
    -fx-background-color: black;
}

.menu-item:hover {
    -fx-background-color: #9394a5;
    -fx-alignment: CENTER;
}

/* Color the text on the menu options */
.menu-item .label {
    -fx-text-fill: #484b6a;
}

/* Label styling */
.label {
    -fx-text-fill: black;
    -fx-font-size: 11px;
    -fx-font-weight: 600;
}

#currentLoadedProgramPath {
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-background-color: transparent;
}

#summaryLine {
    -fx-text-fill: #484b6a;
    -fx-font-size: 12px;
    -fx-font-weight: 400;
}

#currentProgramName {
    -fx-text-fill: #484b6a;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#userNameDisplay {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* ScrollPane / ScrollBar subtle theme */
.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-pref-width: 8;
}
.scroll-bar .thumb {
    -fx-background-color: #9394a5;
    -fx-background-radius: 6;
}

.scroll-bar .track {
    -fx-background-color: transparent;
}

/* Progress Bar */
.progress-bar {
    -fx-background-color: #d2d3db;
    -fx-background-radius: 6;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 6;
}

.progress-bar .bar {
    -fx-background-color: #484b6a; /* Dark purple fill */
}

/* Check box*/
.check-box .box {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-radius: 6;
    -fx-effect: innershadow(gaussian, #404144, 4, 0.3, 0, 1);
}

.check-box:selected .mark {
    -fx-background-color: #484b6a; /* Color the v mark inside */
}

/* Radio Buttons */
.radio-button {
    -fx-padding: 4px;
    -fx-background-color: transparent;
    -fx-text-fill: #484b6a;
}

/* The radio circle (indicator) */
.radio-button .radio {
    -fx-background-color: white;    /* or background for unselected circle */
    -fx-border-color: black;  /* border color for circle */
    -fx-border-width: 1px;
    -fx-border-radius: 100%;       /* make it circular */
    -fx-background-radius: 100%;
}

/* The dot inside when selected */
.radio-button:selected .radio .dot {
    -fx-background-color: black; /* mark color used when selected */
}

/* Hover / focus effects */
.radio-button:hover .radio {
    -fx-border-color: #484b6a;  /* lighten border on hover */
}
.radio-button:focused .radio {
    -fx-border-color: #4573e8;
}

/* Text fields */
.text-field {
    -fx-background-color: white;         /* outer background (border area) */
    -fx-text-fill: black;                /* color of user-typed text */
    -fx-border-width: 1px;
    -fx-border-radius: 6;
    -fx-border-color: black;
    -fx-prompt-text-fill: #9b9b9b; /* color of placeholder text */
    -fx-background-radius: 6;
}

/* Focus ring for inputs / buttons */
*:focused {
    -fx-focus-color: #484b6a;
    -fx-faint-focus-color: #484b6a;
}